report/
puzzles/
input.txt
output.txt
output.*.txt

Makefile
timings.*.md
stats.md

README.template
update_readmes.py
join_knowit_files.py
download_input.py

__pycache__
.python-version
.pytest_cache

others/

.envrc
.vscode
